# ==============================
# VARIABLES D'ENVIRONNEMENT
# ==============================
.env
.env.*
!.env.example

# ==============================
# ENVIRONNEMENT PYTHON
# ==============================
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# ==============================
# STREAMLIT
# ==============================
.streamlit/secrets.toml

# ==============================
# FICHIERS TEMPORAIRES
# ==============================
*.log
*.tmp
*.temp

temp/
tmp/
cache/

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# IDE / EDITEURS
# ==============================
.vscode/
.idea/

# ==============================
# SYSTEME
# ==============================
.DS_Store
Thumbs.db

# ==============================
# FICHIERS SENSIBLES
# ==============================
*.key
*.pem
*.secret

# ==============================
# BASES DE DONNEES LOCALES
# ==============================
*.db
*.sqlite
*.sqlite3
